body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex; /* Use flexbox */
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%; /* Make the h1 take full width on mobile view */
}

.form-component {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.table-container {
  flex: 1; /* Take up 50% of the container's width on desktop view */
  border-collapse: collapse;
  width: 100%; /* Ensure the table takes full width on mobile view */
  margin-top: 20px; /* Add some spacing between form and table in desktop view */
}

.table-container th,
.table-container td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.table-container td {
  text-align: center;
}

/* Responsive Styles */

/* For tablets and larger screens */
@media (min-width: 768px) {
  .form-component {
    flex: 1; /* Take up 50% of the container's width */
  }

  .table-container {
    flex: 1; /* Take up 50% of the container's width */
    margin-top: 0; /* Remove the top margin */
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .form-component,
  .table-container {
    flex: 100%; /* Make them take up 100% width */
  }
}
